@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/pt-sans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/pt-sans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
}

body {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 100%;
  margin: 0;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  position: relative;
  display: flex;
  padding: 20px 70px 0 254px;
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 507px;
  margin: 0;
  padding: 0;
}

.header-logo {
  position: absolute;
  width: 140px;
  height: 70px;
  display: flex;
  top: 0;
  left: 70px;
}

.navigation-list {
  list-style-type: none;
  min-width: 470px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -10px 0;
  padding: 0;
}

.navigation-list-item {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 32px;
  margin-bottom: 10px;
}

.navigation-list-link {
  display: flex;
  text-decoration: none;
  color: #000000;
  padding-bottom: 24px;
  position: relative;
}

.navigation-list-link-current::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #756257;
  bottom: -1px;
  left: 0;
}

.navigation-user {
  display: flex;
  max-width: 268px;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-left: auto;
  height: 36px;
}

.navigation-user-link {
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.navigation-user-link-search {
  background-image: url("/images/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 36px;
  justify-content: center;
  align-items: center;
}

.navigation-user-link-like {
  background-image: url("/images/svg/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 36px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.navigation-user-link-like::before {
  content: "12";
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  color: #ffffff;
  padding: 5px 5px 5px 4px;
  border-radius: 50%;
}

.navigation-user-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(117, 97, 87, 1);
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 8px 34px;
  display: block;
  width: 160px;
}

.navigation-user-button:hover,
.navigation-user-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.navigation-user-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 229, 229, 1);
}

.intro {
  background-image: url("../images/index/background-intro.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 51px 51px 82px 51px;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages-content {
  text-align: center;
  padding: 69px 274px 90px 275px;
}

.advantages-head-title {
  margin: 0 0 25px 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.advantages-head-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages-card {
  display: flex;
}

.advantages-card-content {
  background-color: #82b3d3;
  color: #ffffff;
  width: 33.33%;
  margin: 0 0 0 0;
  padding: 92px 85px 62px 85px;
  display: flex;
  flex-direction: column;
}

.advantages-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 62px 0;
  text-transform: uppercase;
  position: relative;
}

.advantages-card-title::after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -30px;
  left: 85px;
}

.advantages-card-text {
  text-align: center;
  margin: 0;
}

.advantages-card-img {
  background-color: #000000;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  color: #000000;
  width: 400px;
  padding: 103px 85px 121px 85px;
  display: flex;
  flex-direction: column;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list-modify .advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0);
}

.advantages-item-home {
  padding: 81px 85px 81px 85px;
}

.advantages-item-home::before {
  content: url("../images/svg/home.svg");
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
  position: relative;
  left: 79px;
  right: 77px;
  bottom: 0;
}

.advantages-item-food {
  padding: 81px 85px 81px 85px;
}

.advantages-item-food::before {
  content: url("../images/svg/food.svg");
  width: 74px;
  height: 70px;
  margin-bottom: 31px;
  position: relative;
  left: 79px;
  right: 78px;
}

.advantages-item-souvenirs {
  padding: 80px 85px 81px 85px;
}

.advantages-item-souvenirs::before {
  content: url("../images/svg/souvenir.svg");
  width: 64px;
  height: 76px;
  margin-bottom: 28px;
  position: relative;
  left: 84px;
  right: 83px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 62px 0;
}

.advantages-title-decorate {
  position: relative;
}

.advantages-title-decorate::after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -30px;
  left: 85px;
}

.advantages-title-modify {
  margin: 0 0 30px 0;
}

.advantages-text {
  margin: 0;
}

.interested {
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  padding: 96px 304px 96px 304px;
  margin: 0;
}

.interested-title {
  font-size: 30px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.interested-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 56px 0;
}

.interested-button {
  background-color: rgba(117, 97, 87, 1);
  color: #ffffff;
  font-family: inherit;
  text-decoration: none;
  padding: 8px 50px;
  width: 376px;
  display: block;
  margin: 0 108px 0 108px;
}

.interested-button:hover,
.interested-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.interested-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.subscribe {
  background-image: url("../images/index/background-subscribe.jpg");
  background-color: #ff6347;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 56px 0;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form-input {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-family: inherit;
  width: 452px;
  border: 2px solid #ffffff;
  height: 100%;
  padding: 14px 345px 14px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-form-button {
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  border: none;
  width: 232px;
  font-family: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe-form-button:hover,
.subscribe-form-button:focus {
  background-color: rgba(104, 162, 202, 1);
}

.subscribe-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.page-footer {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  padding: 45px 70px 35px 70px;
}

.footer-social-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 47px);
  list-style-type: none;
  padding: 0;
}

.footer-social-link {
  color: #83b3d3;
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: #68a2ca;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-contacts-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  display: block;
  justify-self: center;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: rgba(117, 97, 87, 1);
}

.footer-contacts-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-link {
  justify-self: end;
  color: #000000;
}

.footer-logo-link:hover,
.footer-logo-link:focus {
  color: #756157;
}

.footer-logo-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.catalog-filter {
  background-image: url("../images/catalog/background-catalog.jpg");
  background-repeat: no-repeat;
  height: 412px;
  background-color: #000000;
  background-size: cover;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  padding: 34px 66px 70px 70px;
  flex-direction: column;
}

.page-catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0 0 8px 0;
}

.breadcrumbs-list {
  list-style-type: none;
  display: flex;
  width: 300px;
  margin: 0 0 40px 0;
  position: relative;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 11px;
  min-width: 12px;
}

.breadcrumbs-link-transition {
  position: relative;
}

.breadcrumbs-link-transition::before {
  content: url("/images/svg/home-breadcrums.svg");
  position: absolute;
  width: 23px;
  height: 21px;
  top: 1px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  padding: 0 0 0 18px;
  position: relative;
}

.breadcrumbs-link::before {
  content: url("/images/svg/arrow.svg");
  position: absolute;
  width: 8px;
  height: 21px;
  left: 0;
  top: 1px;
}

.catalog-filter-container {
  display: flex;
}

.catalog-filter-group {
  width: 151px;
  padding: 0;
  border: none;
  display: flex;
  margin-right: 40px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 32px 0;
}

.catalog-filter-list {
  padding: 0;
  margin: 0 0 0 0;
  list-style-type: none;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-input {
  margin-right: 16px;
}

.control-input {
  margin-right: 16px;
}

.catalog-filter-price {
  width: 288px;
  margin-left: 141px;
  margin-right: 70px;
}

.catalog-filter-price-span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-controls {
  display: flex;
  flex-direction: column;
  width: 191px;
  padding: 56px 0 8px 0;
}

.catalog-filter-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgb(130, 179, 211);
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.catalog-filter-submit {
  color: #ffffff;
  background-color: rgb(130, 179, 211);
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  width: 191px;
  height: 36px;
  margin: 0 0 40px 0;
  padding: 8px 50px;
}

.catalog-filter-submit:hover,
.catalog-filter-submit:focus {
  background-color: rgba(104, 162, 202, 1);
}

.catalog-filter-submit:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.catalog-filter-reset {
  color: #ffffff;
  background-color: rgb(130, 179, 211, 0);
  border: none;
  font-family: inherit;
}

.catalog-filter-reset:hover {
  opacity: 0.6;
}

.catalog-filter-reset:focus {
  border: 3px solid #83b3d3;
}

.catalog-filter-reset:active {
  opacity: 0.6;
}

.catalog-filter-reset:disabled {
  opacity: 0.1;
}

.search-catalog-container {
  display: flex;
  flex-direction: column;
  padding: 57px 70px 60px 70px;
}

.search-catalog {
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 49px 0;
}

.search-catalog-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 338px;
  margin: 0 200px 0 0;
}

.search-catalog-option {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 292px;
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  padding: 14px 13px 14px 18px;
  margin-right: 70px;
  display: block;
  position: relative;
}

.search-catalog-option::before {
  content: url("/images/svg/arrow-bottom.svg");
  width: 32px;
  height: 7px;
  position: absolute;
  right: -20px;
}

.search-catalog-option:hover,
.search-catalog-option:focus {
  border: 2px solid #68a2ca;
}

.search-catalog-option:active {
  border: 2px solid #3f5e72;
}

.search-catalog-option:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.catalog-sort-button {
  display: block;
  width: 46px;
  height: 46px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 8px;
}

.catalog-sort-button:hover {
  border: 2px solid #000000;
}

.catalog-sort-button:focus {
  border: 2px solid #68a2ca;
}

.catalog-sort-button:active {
  border: 2px solid #000000;
}

.catalog-sort-button-six {
  background-image: url("/images/svg/six-img.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-sort-button-one {
  background-image: url("/images/svg/one-img.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-sort-button-all {
  background-image: url("/images/svg/list-img.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-sort-button-current {
  border: 2px solid #000000;
}

.catalog-sort-item:nth-child(3) {
  margin-right: 0;
}

.catalog-sort-list {
  list-style-type: none;
  width: 154px;
}

.search-results {
  display: flex;
  flex-direction: column;
}

.product-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-card-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
}

.product-card-item {
  width: 338px;
  height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  border-bottom-style: dotted;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-image {
  margin: 0 0 16px 0;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0 0 16px 0;
  display: block;
}

.product-card-grid {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 21px 36px 36px;
  row-gap: 16px;
  column-gap: 20px;
}

.product-card-text-name {
  grid-column: 1;
  grid-row: 1;
}

.product-card-text {
  text-align: end;
  grid-column: 2;
  grid-row: 1;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
}

.product-card-sub {
  background-color: #756157;
  padding: 8px 26px;
}

.product-card-sub:hover,
.product-card-sub:focus {
  background-color: rgba(97, 80, 72, 1);
}

.product-card-sub:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.product-card-like {
  background-color: #82b3d3;
  padding: 8px 20px;
}

.product-card-like:hover,
.product-card-like:focus {
  background-color: rgba(104, 162, 202, 1);
}

.product-card-like:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.product-card-like-current {
  background-color: #7db54f;
  padding: 8px 18px;
}

.product-card-like-current:hover,
.product-card-like-current:focus {
  background-color: #6c9e42;
}

.product-card-like-current:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.product-card-stars {
  padding: 6px;
  margin: 6px;
  background-image: url("../images/svg/star.svg");
  background-repeat: space;
  background-position-y: center;
}

.product-card-stars-four {
  width: 90px;
}

.product-card-stars-three {
  width: 66px;
}

.product-card-stars-two {
  width: 42px;
}

.product-card-record {
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  padding: 9px 22px;
}

.pagination {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  display: flex;
}

.pagination-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  justify-content: space-between;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  text-decoration: none;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 12px 12px 12px 12px;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  border: 1px solid #82b3d3;
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-current:active,
.pagination-link-current:hover,
.pagination-link-current:focus {
  background-color: #f2f2f2;
  color: #000000;
  border: none;
}

.pagination-link-diveder {
  background-color: #ffffff;
  color: #000000;
}

.pagination-link-diveder:active,
.pagination-link-diveder:hover,
.pagination-link-diveder:focus {
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.subscribe-catalog {
  color: #000000;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscribe-form-input-catalog {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 14px 0 14px 20px;
}
